/* Styles de base */
body {
  font-family: 'MedievalSharp', cursive;
  background-color: #f4e4c1; 
  margin: 0;
  padding: 0;
  color: #3b3a30;
}

.container {
  width: 750px;
  margin: 40px auto;
  padding: 20px;
  background-color: rgba(255, 255, 255, 0.85);
  border-radius: 15px;
  box-shadow: 0 8px 30px rgba(0, 0, 0, 0.1);
  animation: fadeIn 1.5s ease-in-out;
}

/* Cartes avec découpe en forme originale */
.card-white {
  background-color: #fff5d9;
  padding: 25px;
  margin-bottom: 20px;
  border: 2px solid #8b4513;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.15);
  position: relative;
  clip-path: polygon(0 0, 95% 5%, 100% 95%, 5% 100%);
  transition: transform 0.3s ease-in-out, box-shadow 0.3s;
}

.card-white:hover {
  transform: scale(1.02);
  box-shadow: 0 12px 25px rgba(0, 0, 0, 0.3);
}

.text-center {
  text-align: center;
}

.img-circle {
  width: 120px; /* Taille fixe */
  height: auto; /* Conserve les proportions originales */
  border-radius: 50%; /* Forme circulaire */
  border: 5px solid #8b4513;
  margin-bottom: 15px;
  object-fit: cover; /* Recadre l'image de manière homogène */
  transition: transform 0.5s ease-in-out, box-shadow 0.5s;
}


.img-circle:hover {
  transform: rotate(360deg);
  box-shadow: 0 8px 30px rgba(0, 0, 0, 0.3);
}

/* Bouton stylisé */
.btn {
  display: inline-block;
  padding: 10px 25px;
  background-color: #de9946;
  color: white;
  border-radius: 12px;
  text-decoration: none;
  font-size: 18px;
  font-weight: bold;
  border: 2px solid #a65e2e;
  transition: background-color 0.3s ease, transform 0.2s ease;
}

.btn:hover {
  background-color: #b8723c;
  border-color: #733a1d;
  transform: translateY(-3px);
}

.list-inline {
  list-style: none;
  padding-left: 0;
  text-align: center;
}

.list-inline > li {
  display: inline-block;
  padding: 0 15px;
}

.list-inline > li > a {
  text-decoration: none;
  color: #de9946;
  font-weight: bold;
  font-size: 18px;
  transition: color 0.3s ease;
}

.list-inline > li > a i {
  margin-right: 8px;
}

.list-inline > li > a:hover {
  color: #a65e2e;
}

.footer {
  text-align: center;
  padding: 15px;
  background-color: #8b4513;
  color: white;
  margin-top: 40px;
  border-radius: 8px;
}

.credits {
  text-align: center;
  margin-top: 20px;
  padding: 10px 0;
  background-color: #3b3a30;
  color: white;
  font-size: 14px;
}

.credits p {
  margin: 0;
}

/* Animation */
@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: scale(0.9);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}
